// pipeline information
manifest {
    author = 'Andy Everall'
    description = 'Run'
    mainScript = 'main.nf'
    name = 'cancGermlineHits.nf'
    nextflowVersion = '21.04.3'
    version = '0.0.1'
}

// environmental variables
// env {
// }

// default global parameters
params {
    // options: generic
    help = false

    // options: LSF
    projectName = 're_gecip_cancer_pan'

    // CADD executor
    cadd_cmd = '/re_gecip/shared_allGeCIPs/bkinnersley/CADD/CADD-scripts-master/CADD.sh'
    PHRED_threshold = 20

    // options: singularity
    bind = '/nas/weka.gel.zone/resources:/resources,/nas/weka.gel.zone/resources/vscaler/ohpc:/opt/ohpc,/home:/home,/re_gecip:/re_gecip,/re_scratch/acornish/hail:/tmp,/gel_data_resources:/gel_data_resources'

    // options: test run
    max_signatures = 1000
}

// default process parameters
process {
    executor = 'lsf'
    clusterOptions = "-P ${params.projectName}" // should not specify -R "span[hosts=1]", as this is automatically included when cpus > 1
    errorStrategy = 'retry'
    maxRetries = 3
    beforeScript = { task.attempt <= 1 ? 'sleep 1' : 'sleep 30' } // negate delay in file availability
    withLabel: 'regular|standard' {
          executor = 'local'
          memory = { task.attempt <= 1 ? '16 GB' : '32 GB' }
          queue = 'short'
    }
    withLabel: short_job {
          time = { task.attempt <= 2 ? '4h' : '24h' }
        	cpus = { task.attempt <= 1 ? '2' : '4' }
        	memory = { task.attempt <= 1 ? '32 GB' : '64 GB' }
        	queue = { task.attempt <= 2 ? 'short' : 'medium' }
    }
}

// default job submission parameters
executor {
    submitRateLimit = '5 sec'
    $lsf { queueSize = 50 }
    $local { queueSize = 50 }
}

timeline {
  enabled=true
}

report {
  enabled=true
}
