name: Python Publish Workflow
on:
  workflow_call:

jobs:
  publish:
    uses: microsoft/action-python/.github/workflows/publish.yml@0.7.3
    with:
      python_version: "3.9"
    secrets:
      PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
      PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}

